@page
@model DotNetLab12.Pages.Shops.SummaryModel
@using DotNetLab12.Models
@{
    ViewData["Title"] = "Basket";
}

<h1>Basket Summary</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Article.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Article.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Article.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItems[0].Article.PictureName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BasketItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <img src="~/upload/@Url.Content(item.Article.PictureName)" alt="Image" style="height:50px;width:50px;" />
                </td>

            </tr>
        }
        <div>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name:</label>
                    <input type="text" asp-for="Name" required />
                </div>

                <div class="form-group">
                    <label asp-for="Address">Address:</label>
                    <textarea asp-for="Address" rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="PaymentMethod">Payment Method:</label>
                    <select id="PaymentMethod" name="PaymentMethod" asp-for="PaymentMethod" required>
                        @foreach (var paymentMethod in Enum.GetValues(typeof(PaymentMethod)))
                        {
                            <option value="@paymentMethod">@paymentMethod</option>
                        }
                    </select>
                </div>

                <button type="submit">Order</button>
            </form>
        </div>
        
    </tbody>

    <caption>Total = @ViewData["summary"]</caption>

</table>
